.hero {
    position: relative;
    width: 100%;
    margin-top: 120px;
    background-color: var(--background-secondary);
}

.hero-image-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 120px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    max-height: 550px;
}

.hero-text-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: calc(100% - 32px);
    font-size: 24px;
    padding: 0 16px;
}

.hero-text {
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

/* Responsividade */
@media (max-width: 990px) {
    .hero-text-wrapper {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .hero-text-wrapper {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .hero-text-wrapper {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .hero-image {
        max-height: 450px;
    }
}

@media (max-width: 768px) {
    .hero-image {
        max-height: 350px;
    }
}