   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--text-color);
    background-color: #F7F2EC;
  }
  
  h1, h2, h3, p {
    font-family: var(--font-main);
  }
  
  h1 { font-size: 48px; font-weight: 800; }
  h2 { font-size: 40px; font-weight: 700; }
  h3 { font-size: 22px; font-weight: 600; }
  p  { font-size: 16px; font-weight: 400; }
  
  .card-base {
    background: var(--bg-light);
    border-radius: 20px;
    box-shadow: 0px 4px 10px var(--shadow-light);
    border: 2px solid var(--border-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-base:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
